body{color: blue;
font-size: 50px;}
p {
  text-align: center;
  color: white;

}

* {

  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #B1DDDA;
}
button{
  height: 70px;
  width: 40%;
  background-color: white;
  align: center;
  text-align: center;
  font-family: sans-serif;
  color: navy;
  font-size: 30px

}

div{
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
  color: navy;
  font-size: 70px;
}
