body{color: blue;
font-size: 50px;}
p {
  text-align: center;
  color: red;
}

* {

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
button{
  height: 200px;
  width: 50%;
  background-color: powderblue;
  text-align: center;
  font-size: 70px

}

div{
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
  color: navy;
  font-size: 70px;
}
